
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0; padding: 0;
  background: linear-gradient(to right, #b7b6b2 0%, #ffffff 100%);
  padding: 0px 0;
}
.container {
  width: 1000px;
  min-height: 800px;
  border: 2px solid rgb(45, 238, 86);
  margin: 0 auto; /* выравнивание по центру*/
  background: #fff;
}
.header {
  display: flex; /* + */
  height: 250px;
 }
.userpic { 
width: 35%;
height: 250px;
margin-left: auto;
margin-right: auto;
border: 2px solid black;
background-color: #d0cecf;
}
.img {
  padding: 50px 50px 50px 50px;
  width: 150px;
  height: 150px;
  border-radius:150px;
  border: 3px;
  /*box-shadow: 0 0 0px #b7b6b0 ; */
}
.userdata {
  /*display: flex;
  /*justify-content: center;*/
  align-items: center;
  width: 65%;
  height: 250px;
  border: 2px solid black;
  background-color: #fff;
}
.h1 {
  margin: 50px 50px 20px 50px;
}
.h2 {
  margin: 20px 50px 50px 50px;
}
.main {
  display: flex;
}
.mainleft {
width: 35%;
height: 650px;
margin-left: auto;
margin-right: auto;
border: 2px solid black;
background-color: #d0cecf;
}
.mainright {
  align-items: center;
  width: 65%;
  height: 650px;
  border: 2px solid black;
  background-color: #fff;
}
.h1l { 
  margin: 15px 50px 10px 50px;
  border-bottom: 4px solid rgb(162, 153, 153);
    font-weight: normal; 
    padding-bottom: 5px;
}
.h2l {
  margin: 10px 10px 1px 50px;
  font-weight: normal;
}
p{
  margin: 1px 50px 10px 50px;
  font-weight: normal;
}
a {
  color: black;
}
footer {
  display: flex;
  justify-content: space-evenly;
  padding: 1px;
  background-color: #45a1ff;
  color: #fff;
} 
p {
  margin: 15px;
}

